---
---
$pink:  #e762a7;
$blue:  #7388f2;
$tan:   #e5b171;
$dollar:#c9e6dc;
$white: #ffffff;
$black: #000000;

.hidden {
  display: none;
}

.no-padding {
  padding:0;
}

.wrapper {
  width:75%;
  max-width:800px;
  position:relative;

  &--full-width {
    width: 100%;
    max-width: none;
    padding:0;
  }
}

.vertical-text {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  /* only currently works in Blink/WebKit */
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;

  /* Sets upright orientation for the Z */
  -ms-text-combine-horizontal: all;
}

.h1 {
  font-weight:bolder;
  font-size:6.66em;
  text-transform:uppercase;

  &--vertical-text {
    letter-spacing: -0.2em;
  }
}

.h3 {
  font-weight:bold;
  font-size:3.33em;
  text-transform:uppercase;
}

.home {
  margin-bottom:120px;
}

.home_splash {
  background:url({{ "/assets/leopard-print.jpg" | relative_url }}) center center no-repeat;
  color:white;
  height:75vh;
  position:relative;
  overflow:hidden;
  margin-bottom:120px;
  padding:66px 0;
  max-height:800px;

  &--header-wrap {
      width: 773px;
      position: relative;
      height: 660px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }

  .h1 {
    margin:0;
    position:absolute;
  }

  &--hr-heading {
    top: 296px;
    left: 1px;
    letter-spacing: 0.2em;
  }

  &--jekyll-heading {
    top: 0px;
    left: 328px;
  }

  .whitespace {
    display:none;
  }

  &::before, &::after  {
    content:'';
    background-color:transparent;
    height:0;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border:25vw solid transparent;
    border-color:transparent transparent $pink $pink;
  }

  &::after {
    left:50vw;
    top:auto;
    bottom:0;
    border-color: $dollar $dollar transparent transparent;
  }
}

.posts, .pages, .instagram {
  position:relative;

  &_heading {
    position:absolute;
    top:0;
    right:0;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
  }

  &_list {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  &_post-in-list {
    width:48%;
    margin:0 0 33px 0;
    -webkit-transition:transform 333ms ease-in-out;
    transition:transform 333ms ease-in-out;

    &:hover {
      -webkit-transform:scale(1.03);
      transform:scale(1.03);
    }
  }
}

.instagram {
  width:70%;
  margin-left:29%;
  margin-bottom:120px;
  margin-top:120px;

  &_heading {
    right:auto;
    left:0;
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%);
  }

  &_post-in-list {
    width:23.5%;
    margin:0 0 33px 0;
    -webkit-transition:all 333ms ease-in-out;
    transition:all 333ms ease-in-out;
    overflow:hidden;
    height:400px;
    position:relative;

    &:hover {
      -webkit-transform:scale(1.03);
      transform:scale(1.03);
    }

    a {
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%, -50%);
      transform:translate(-50%, -50%);
      width:100%;
      height:100%;
    }

    img {
      width:500px;
      height:500px;

      &.instagram_post-image {
        object-fit:cover;
      }
    }
  }
}

.pages {
  &_page-in-list {
    width:100%;
    flex:none;
    height:300px;
    position:relative;
    overflow:hidden;

    a {
      position:absolute;
      width:100%;
      height:100%;

      &::after {
        content:'';
        width:100%;
        height:100%;
        position:absolute;
        opacity:0.5;
        background-color:$black;
        z-index:2;
      }
    }

    img {
      width:100%;
      height:100%;
      z-index:1;
    }

    img, .h3 {
      position:absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%, -50%);
      transform:translate(-50%, -50%);
    }

    .h3 {
      color:$white;
      font-size:4.44em;
      z-index:3;
    }
  }
}
